<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
</head>
<body>
    <h1>Chi tiết đơn mua hàng của bạn</h1>
    <table>
        <thead>
            <tr>
                <td>Mã số</td>
                <td>Giá tiền</td>
                <td>số lượng</td>
                <td>Thông tin</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="showOrderDetail : ${listOrderDetails}">
                <td th:text="*{showOrderDetail.id}"></td>
                <td th:text="*{showOrderDetail.price}"></td>
                <td th:text="*{showOrderDetail.quantity}"></td>
                <td th:text="*{showOrderDetail.productDescription}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>